:root {
  --color-primary: hsl(45.2, 35%, 61.4%);
  --color-neutral-01: hsl(0, 0%, 96%);
  --color-neutral-02: hsl(0, 0%, 65%);
  --color-neutral-03: hsl(0, 0%, 40%);
  --color-neutral-04: hsl(0, 0%, 32%);
  --color-neutral-05: hsl(0, 0%, 29%);
  --color-neutral-06: hsl(0, 0%, 26%);
  --color-neutral-07: hsl(0, 0%, 17%);

  --border-radius: 0.25rem;

  --transition: 100ms ease-in-out;
}
