body {
  display: flex;
  flex-direction: column;
  font: 400 1rem/1.5 'DejaVu Sans Mono', monospace;
  color: var(--color-neutral-3);
  background-color: var(--color-neutral-1);
}

body > footer {
  margin-top: auto;
}

::selection {
  color: var(--color-neutral-3);
  background-color: var(--color-accent-1);
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-block: 1.5rem 2rem;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:focus-visible {
  outline: none;
}

:is(a, button, input[type='submit']):focus-visible {
  outline: 2px solid var(--color-neutral-3);
  border: none;
}

input:not(input[type='submit']):focus-visible {
  border: 1px solid var(--color-neutral-3);
  transition: border var(--transition);
}