body > footer {
  text-align: center;
  padding-block: 3rem 0.75rem;
}

.link-icon {
  display: inline-block;
  line-height: 0;
  margin-bottom: 0.375rem;
}

.github-icon {
  fill: var(--color-primary-4);
  width: 2.125rem;
}

.github-icon:hover {
  fill: var(--color-primary-5);
  transition: fill var(--transition);
}

.copyright {
  display: block;
  font-size: 0.75rem;
  color: var(--color-primary-4);
}