@import './partials/_variables.pcss';
@import './partials/_reset.pcss';
@import './partials/_base.pcss';
@import './partials/_utilities.pcss';
@import './partials/_convert.pcss';
@import './partials/_footer.pcss';
